<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    {% endblock %}

    <title>Demo</title>
    {% endblock %}
  </head>
  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column flex-fill ">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">{{ title }}</h3>
          <nav class="nav nav-masthead justify-content-center flex-fill">
              <a class="nav-link{% if nav == 'home' %} active{% endif %}" href="/">Home</a>
              <a class="nav-link{% if nav == 'openshift' %} active{% endif %}" href="/openshift">OpenShift</a>
              <a class="nav-link{% if nav == 'map' %} active{% endif %}" href="/map">Mapping</a>
              <a class="nav-link{% if nav == 'secret' %} active{% endif %}" href="/secret">Secret</a>
              <a class="nav-link{% if nav == 'quote' %} active{% endif %}" href="/quote">Quote</a>
            </nav>
          </div>
        </header>
    
        {% block content %}{% endblock %}
        
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <small> &copy; 2020 <a href="https://github.com/snowjet/demo-flask/" title="demo-flask">Demo-Flask</a></small>
            </div>
          </footer>
      </div>

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {{ render_static('js', 'js/popper.min.js') }}
    {{ render_static('js', 'js/jquery-slim.min.js') }}
    {% endblock %}
  </body>
</html>